<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Table</title>
</head>
<body>
    <h2>Logs of User Queried</h2>
    <table border="1">
        <tr>
            <th>User ID</th>
            <th>User Name</th>
            <th>Login Date</th>
            <th>Day of Week</th>   <!-- New column for Day of Week -->
            <th>Login Time</th>
            <th>Logout Time</th>
            <th>Duration (minutes)</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.loginDate}"></td>
            <td th:text="${user.dayOfWeek}"></td>   
            <td th:text="${user.loginTime}"></td>
            <td th:text="${user.logoutTime}"></td>
            <td th:text="${user.duration}"></td>
        </tr>
    </table>

</body>
</html>