<!DOCTYPE HTML>

<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http;//www.w3.org/1999/xhtml" layout:decorate="~{layouts/base}" lang="en">
<html lang="en">
<head>
    <title>Person Form</title>
    <script>
        function validateForm(event) {
            const password = document.getElementById("password").value;
            const confirmPassword = document.getElementById("confirm_password").value;

            if (password !== confirmPassword) {
                alert("Passwords do not match!");
                event.preventDefault(); // Prevent form submission
            }
        }
    </script>
</head>
<body>
    <th:block layout:fragment="body" th:remove="tag"> <!-- Page specific body additions -->
        <div class="container">
            <div class="row justify-content-md-center">
                <h2>Welcome, Enter the new Person's details</h2>
            </div>

            <div class="row justify-content-md-center">
                <div class="col8">
                    <div class="jumbotron">
                        <h3>Create Person</h3>
                        <form class="form-inline" action="#" th:action="@{/mvc/person/create}" th:object="${person}" method="POST" onsubmit="validateForm(event)">
                            <div class="input-group mb-2 mr-sm-2">
                                <label for="name">Name:</label>
                                <input type="text" th:field="*{name}" id="name">
                                <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</small>
                            </div>
                            <div class="form-group mb-2 mr-sm-2">
                                <label for="email">Email:</label>
                                <input type="email" th:field="*{email}" id="email">
                                <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</small>
                            </div>
                            <div class="form-group mb-2 mr-sm-2">
                                <label for="password">Password:</label>
                                <input type="password" th:field="*{password}" id="password">
                                <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>
                            </div>
                            <div class="form-group mb-2 mr-sm-2">
                                <label for="confirm_password">Confirm Password:</label>
                                <input type="password" id="confirm_password">
                            </div>
                            <div class="input-group mb-2 mr-sm-2">
                                <label for="dob">Birth Date:</label>
                                <input type="date" th:field="*{dob}" id="dob">
                                <small th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}">Birth Date Error</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>
</html>
