<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>Person List</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
    <div class="container py-4 bg-primary">
        <!-- Page specific body additions -->
        <header class="pb-3 mb-4 border-bottom">
            <a href="#" class="d-flex align-items-center text-light text-decoration-none">
                <span class="fs-4">Database SQL Person</span>
            </a>
        </header>

        <div class="container py-4 text-light bg-success">
            <h2>Person Viewer</h2>
            <a th:href="@{/mvc/person/create}" class="btn btn-light mb-3">Create Person</a>

            <div class="row align-items-md-stretch">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>User ID</th>
                        <th>Person</th>
                        <th>KSM</th>
                        <th>Profile Picture</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="person : ${list}">
                        <td th:text="${person.id}">Person ID</td>
                        <td>
                            <a th:href="'https://github.com/' + ${person.ghid}" target="_blank" th:text="${person.ghid}">User ghid</a>
                        </td>
                        <td th:text="${person.name}">Name</td>
                        <td th:text="${person.kasmServerNeeded}">Kasm Server Needed</td>
                        <!-- Profile Picture Column -->
                        <td>
                            <div th:if="${person.pfp != null}">
                                <img th:src="${person.pfp}" alt="Profile Picture" style="width: 64px; height: 64px; border-radius: 50%;" />
                            </div>
                        </td>

                        <!-- Actions Column -->
                        <td>
                            <a th:href="@{/mvc/person/update/{id}(id = ${person.id})}" class="btn btn-warning btn-sm">Update</a>
                            <a th:href="@{/mvc/person/delete/{id}(id = ${person.id})}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</th:block>
</body>

</html>
