<!DOCTYPE html>
<!-- Preparing search using asynchronous "fetch" (no page reload, no wait)
inspiration from https://www.youtube.com/watch?v=QKcVjdLEX_s
-->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>    <!-- Page specific head additions -->
    <title>SQL Person Search</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
    <div class="container py-4 bg-primary">
        <!-- heading -->
        <header class="pb-3 mb-4 border-bottom">
            <a href="#" class="d-flex align-items-center text-light text-decoration-none">
                <span class="fs-4">Database SQL Person Search</span>
            </a>
        </header>
        <!-- search box -->
        <div class="container py-4 text-light bg-success">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="term">Enter search term?</label>
                            <input type="text" class="form-control" id="term" placeholder="enter search term">
                            <label></label> <!-- used for spacer -->
                        </div>
                        <button class="btn btn-primary bg-secondary" onclick="search_data();">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- result of search -->
    <div class="container">
        <div class="row" id="result">
        </div>
    </div>

    <script>
        function search_data() {
            // fetch standard requires database set to a name-value pair
            const term = document.getElementById("term");
            const body = {
                term: term.value,
                foo: "bar"
            };

            // fetch call with header options
            fetch('/api/people/search', {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(body),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"
                })
            })
            // async then replies with response header
            .then(function (response) {
                // prepare HTML search result container for new output
                const resultContainer = document.getElementById("result");
                // clean up from previous search
                while (resultContainer.firstChild) {
                    resultContainer.removeChild(resultContainer.firstChild);
                }
                // trap error response from Web API
                if (response.status !== 200) {
                    const errorMsg = 'Database response error: ' + response.status;
                    console.log(errorMsg);
                    const div = document.createElement("div");
                    div.innerHTML = errorMsg;
                    resultContainer.appendChild(div);
                    return;
                }
                // response contains valid result
                response.json().then(function(data) {
                    // loop through JSON and build HTML output
                    const table = document.createElement("table");
                    const tableHead = document.createElement("thead");
                    const tableBody = document.createElement("tbody");

                    const thr = document.createElement("tr");
                    const th1 = document.createElement("th");
                    th1.innerText="Name";
                    const th2 = document.createElement("th");
                    th2.innerText="ghid";
                    const th3 = document.createElement("th");
                    th3.innerText="Details";

                    thr.append(th1);
                    thr.append(th2);
                    thr.append(th3);

                    tableHead.append(thr);
                    
                    table.append(tableHead);

                    for (let i = 0; i < data.length; i++) {
                        const tbr = document.createElement("tr");
                        const td1 = document.createElement("td");
                        td1.innerText = data[i].name;
                        const td2 = document.createElement("td");
                        td2.innerText = data[i].ghid;
                        const td3 = document.createElement("td");
                        const a = document.createElement("a");
                        a.innerText = "View Details";
                        a.href = "/mvc/person/read/"+data[i].id;
                        td3.append(a);

                        tbr.append(td1);
                        tbr.append(td2);
                        tbr.append(td3);

                        tableBody.append(tbr);
                    }

                    table.append(tableBody);

                    resultContainer.append(table);
                })
            })
        }
    </script>
</div>